body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#fff7f0;
  width: 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #8b0000, #f50707);
  padding: 12px 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50px;
}

.logo-title h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}
.cart-btn{
  color:white;
  text-decoration:none;
  font-size:16px;
  position:static;
  margin-left: 250px;
  
}
@media (min-width: 768px) {
  .logo-title h1 {
    font-size: 26px;
  }

  .site-logo {
    width: 50px;
    height: 50px;
  }

  .cart-btn {
    font-size: 16px;
    padding: 8px 16px;
  }
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap:20px;
  padding:20px;
}


.card{
  background:white;
  padding:15px;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  text-align:center;
}

.product-img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:10px;
}

.card h3{
  margin:10px 0;
  font-size:18px;
}

/* Select Dropdown */
select{
  width:100%;
  padding:8px;
  margin:10px 0;
  border-radius:5px;
}


button{
  background:#8b0000;
  color:white;
  border:none;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
  width:100%;
  font-size:14px;
}

button:hover{
  background:#fd3d3d;
}


.cart-container{
  padding:20px;
}

.cart-item{
  display:flex;
  gap:15px;
  align-items:center;
  background:white;
  padding:10px;
  margin-bottom:15px;
  border-radius:10px;
  flex-wrap:wrap;
}

.cart-img{
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:10px;
}

.cart-item h3{
  margin:0;
  font-size:16px;
}

.order-btn{
  display:block;
  margin:20px auto;
  width:90%;
  max-width:350px;
}


@media (max-width:600px){

  header{
    flex-direction:column;
    text-align:center;
  }

  header h1{
    font-size:18px;
    margin-bottom:5px;
  }

  .cart-item{
    flex-direction:column;
    text-align:center;
  }

  .cart-img{
    width:120px;
    height:120px;
  }

  button{
    font-size:16px;
  }

}


footer{
  background:#8b0000;
  color:white;
  text-align:center;
  padding:20px 10px;
  margin-top:40px;
}

footer p{
  margin:5px 0;
  font-size:14px;
}
/* Bottom Navigation Bar */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1000;
}

.nav-item {
  text-align: center;
  text-decoration: none;
  color: #faf9f9;
  font-size: 18px;
  font-weight: 500;
  background-color: #8b0000;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 40px;

}
.nav-item2 {
  text-align: center;
  text-decoration: none;
  color: #faf9f9;
  font-size: 14px;
  font-weight: 500;
  background-color: #8b0000;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 40px;

}



.nav-item span {
  display: block;
  font-size: 22px;
}

.nav-item:hover {
  background-color: blue;
}


/* Body bottom space adjust */
body {
  padding-bottom: 70px;
}
#pavan{
  background-color: rgb(14, 14, 59);
  text-align: center;
  color: white;
  font-family:sans-serif;
  font-size: 10px;
  border-radius: 50px;
}
